@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: relative;
}

#nav_logo {
  display: flex;
  align-items: center;
}
h3 {
  color: white;
}
#nav_logo img {
  max-width: 30px;
  margin-right: 10px;
  
}

#nav_logo h3 {
  font-family: 'Embed code', sans-serif;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
/*LISTA DO TOPO DO MEIO*/
#nav_list {
  display: flex;
  list-style: none;
  gap: 30px;
}

#nav_list li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Embed code', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

/*BOTÕES LADO DIREITO*/
#btn_right {
  display: flex;
  gap: 10px;
}

#register,
#login {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Embed code', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#register {
  background-color: #ff7b54;
  color: white;
}

#register:hover {
  background-color: #ff5a2e;
}

#login {
  background-color: white;
  color: #ff7b54;
  border: 1px solid #ff7b54;
}

#login:hover {
  background-color: #ff7b54;
  color: white;
}

#intro {
  width: 100%;
  height: calc(100vh);
  background: url("./public/images/backgroud.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.intro-content {
  color: white;
}

.intro-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Embed code', sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  
}

.intro-content p {
  font-size: 30px;
  font-family: 'Embed code', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/*SLIDER CIDADES*/
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 40px 20px;
}

#title_citys{
    margin: 30px 0px  20px;
    font-family: 'Embed code', sans-serif;
}
#title_citys h1{
  text-transform: uppercase;
  margin: auto;
}
#title_citys hr {
  border: 2px solid #ff7b54;
  width: 16%; /* Ajuste a largura conforme necessário */
  margin-bottom: 10px;
}


.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.slide {
    width: 100%;
    height: auto;
    object-fit: cover;
  position: relative;
}

.slide img {
  width: 280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.slide p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* PACOTES PARA COMPRA */

.special-offer {
  text-align: center;
  padding: 100px 20px;
  background-color: #fff;
}

.special-offer h2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Embed code', sans-serif;
}

.special-offer p {
  font-size: 18px;
  color: #666;
  font-family: 'Embed code', sans-serif;
}

.offers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 300px;
  text-align: left;
  margin: 20px;
}

.offer-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.offer-card h3 {
  font-size: 24px;
  margin: 15px 10px;
  font-family: 'Embed code', sans-serif;
}

.offer-card p {
  margin: 10px 15px;
  color: #333;
  font-family: 'Embed code', sans-serif;
}

.offer-card p:first-of-type {
  font-size: 20px;
  color: #f90;
}

.offer-card p:last-of-type {
  font-size: 18px;
  margin-bottom: 20px;
}

.offer-card button {
  display: block;
  width: calc(100% - 30px);
  margin: 0 15px 20px;
  padding: 10px 0;
  background-color: #ff7e5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.offer-card button:hover {
  background-color: #ff6a3d;
}

/* SECTION BLOG */
.blog-section {
  background-color: #fff;
  padding: 50px 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.blog-header {
  text-align: center;
  margin-bottom: 50px;
}

.blog-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.blog-header p {
  font-size: 18px;
  color: #666;
}

.blog-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blog-content img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

.blog-text h3 {
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.blog-text p {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.blog-text a {
  font-size: 16px;
  color: #ff7e5f;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.blog-text a span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.blog-text a:hover span {
  transform: translateX(5px);
}